{{ define "notFoundPage" }}
<div class="container p-5">
    <div class="alert alert-danger text-center">
        Not found
    </div>
    {{ template "homeButton" }}
</div>
{{ end }}

{{ define "errorPage" }}
<div class="container p-5">
    <div class="alert alert-danger">
        {{ . }}
    </div>
    {{ template "homeButton" }}
</div>
{{ end }}

{{ define "errorMessage" }}
    {{ if . }}
            <div class="alert alert-danger">
                {{ . }}
            </div>
    {{ end }}
{{ end }}