<div id="game" class="container p-5">
    <h4 class="text-center">{{ .Name }}</h4>
    <div>
        <p>{{ .Scene.Text }}</p>
    </div>
    <div>
        {{ if .Scene.Paths }}
            <div class="d-grid gap-3">
                {{ range .Scene.Paths }}
                    <button hx-target="body" hx-get="/play/{{ $.Name }}/{{ .Destination }}" class="btn btn-dark btn-block text-start">
                        {{ .Text }}
                    </button>
                {{ end }}
            </div>
        {{ else }}
            {{ template "restartButton" .Name }}
        {{ end }}
    </div>
    {{ template "homeButton" }}
</div>