{{ define "userGames" }}
    {{ if .Username }}
        <div class="text-center">
            <button hx-get="/createForm" hx-target="body" class="btn btn-primary">Create new game</button>
        </div>
        <h5 class="text-center">{{ .Username }} games</h5>
    {{ else }}
        <h5 class="text-center">Your games</h5>
    {{ end }}
    {{ if .Username }}
        <div>
            {{ range .UserGames }}
                <div>
                    {{ template "playButton" . }}
                    {{ template "editButton" . }}
                    {{ . }} 
                </div>
            {{ end }}
        </div>
    {{ else }}
        <div class="text-center">
            <button hx-get="/login" hx-target="body" class="btn btn-primary">Log in</button>
            or
            <button hx-get="/register" hx-target="body" class="btn btn-primary">Sign up</button>
        </div>
    {{ end }}
{{ end }}